*{
    padding: 0;
    margin:0;
}

#navbar {
  position: fixed;
  height: 100%;
  width: 25%;
  min-width: 22%;
  border-right: solid;
}
main {
  margin-left: 27%;
}

li{
  text-decoration: none;
  overflow: hidden; 
}

body{
  background-color: rgb(42,47,56);
}





main img{
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
}

main img{
  height: 10%;
  width: 20%;
  padding-left:40%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#navbar img{
  height: 15%;
  width: 15%;
}

p{
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}

main li{
  font-size: 20px;
}



p, li, h2{
  color:#e4d9c5;
}

a{
  text-decoration: none;
  color: #ce2624;
}

a :hover{
  font-weight: bold;
}

main h2{
  font-size: 50px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px; 
}



nav img{
padding-bottom: 5%;

}

nav header{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
}

nav div{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

nav div :hover{
  background: linear-gradient(transparent, #e4d9c5)
}

#Conclusion, #Introduction{
  text-align: center;
}

